<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- SampleBean1 의 빈 정의를 등록. 이때, 'message' 에는 "XML" 값 기입 -->
    <bean id="sampleBean1"
          class="spring_context_usage.beans.BeanDefinitionReaderTest.SampleBean1">
        <property name="message" value="XML"/>
    </bean>

    <!-- SampleBean2 의 빈 정의를 등록. 이때, 위에서 정의한 SampleBean1 주입 -->
    <bean id="sampleBean2"
          class="spring_context_usage.beans.BeanDefinitionReaderTest.SampleBean2">
        <constructor-arg name="sampleBean1" ref="sampleBean1"/>
    </bean>
</beans>
